@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: sohneLight;
  src: url('../public/Font/TestSöhne-Leicht.otf');
}

@font-face {
  font-family: sohneSpread;
  src: url('../public/Font/TestSöhneBreit-Buch.otf');
}


@font-face {
  font-family: sohneSpreadLight;
  src: url('../public/Font/TestSöhneBreit-Leicht.otf');
}


@font-face {
  font-family: sohne;
  src: url('../public/Font/TestSöhne-Buch.otf');
}

body, html {
  height: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Merriweather:wght@300&family=Montserrat:wght@900&family=Mooli&family=Poppins:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@layer components {
  .modeBtn {
    @apply flex items-center justify-start gap-3 px-6 py-2
  }

  .hover {
    @apply hover:bg-[#685CFE] dark:hover:bg-[#202123] rounded-lg
  }

  .chatStyle {
    @apply bg-gray-200 dark:bg-[#343541] w-screen md:w-[calc(100vw-16rem)] flex items-center justify-center flex-col
  }

  .scrollbarStyle {
    @apply overflow-x-hidden overflow-y-auto scrollbar-thin scrollbar-thumb-transparent dark:scrollbar-thumb-transparent scrollbar-track-rounded-full scrollbar-thumb-rounded-full hover:scrollbar-thumb-gray-400 dark:hover:scrollbar-thumb-zinc-700
  }

  .trans {
    @apply transition-all ease-linear duration-[0.3s]
  }

  .logBtn {
    @apply text-white bg-[#3C46FF] px-20 md:px-12 xl:px-20 py-4 text-sm rounded-md md:w-auto w-[90vw] hover:bg-[#0008ff]
  }
}


.hover:hover *{
  color: white;
}

/* body::-webkit-scrollbar-thumb {
  margin: 4px 0;
} */

* {
  font-family: sohneSpread, 'Roboto', sans-serif;
}

#newchat:hover #getques {
  filter: grayscale();
}


/* #scrollToBottomBtn {
  position: fixed;
  border: none;
  cursor: pointer;
} */
